<ul>
  <li *ngFor="let video of videos"
      (click)="videoSelected.emit(video)"
      [class.active]="video.id === selectedVideo?.id">
    <app-video-tile [video]="video"></app-video-tile>
  </li>
</ul>
